.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
}

.main-content {
    flex: 1;
    margin-left: 120px;
    margin-right: 15px;
}

.sec-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

/*Courses Section*/
.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    align-items: center;
    gap: 30px;
    color: black;
    margin-bottom: 90px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.course-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    color: white;
    transition: background-color 0.5s ease;
    height: 200px;
    box-sizing: border-box;
}

.course-item:hover {
    background-color: #8D7EFF; 
    cursor: pointer;
    color: black;
    transform: scale(1.01);

    .line2 {
        border-top: 1px solid black;
    }

    .course-name {
        color: black;
    }
}

.course-link {
    text-decoration: none
}

.course-name {
    font-weight: 600;
    height: 60px;
    font-size: 1rem;
    color: #8D7EFF;
    margin-bottom: 5px;
}

.course-prof {
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.course-asg, .course-grade {
    font-size: 0.9rem;
}

.line2 {
    border: none;
    border-top: 1px solid #8D7EFF;
    width: 90%;
    margin-bottom: 16px;
}

/*Assignments Section*/
.asg-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    align-items: center;
    gap: 30px;
    color: black;
    margin-bottom: 90px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.asg-item {
    background-color: #1e1e1e;
    padding: 20px;
    color: white;
    transition: background-color 0.5s ease;
    height: 200px;
    box-sizing: border-box;
}

.asg-header {
    border-left: 4px solid #8D7EFF;
    padding-left: 9px;
    margin-bottom: 30px;
    height: 80px;
}

.asg-name {
    color: #8D7EFF;
    font-weight: 600;
    font-size: 1rem;
}

.asg-info {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
}

.deadline {
    font-size: 0.9rem;
    text-align: left;
}

.submit-button {
    text-align: right;
}

.submission button {
    padding: 6px 10px;
    background-color: #8D7EFF;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submission button:hover {
    background-color: #6b5cc6;
}

.submission {
    i {
        display: block;
        font-size: 26px;
        transition: color 0.3s ease;
        color: white;
    }

    .assignment-link, .pdf-link, 
    .edit-link, .feedback-text, 
    .course-link, .submission-link {
        text-decoration: underline;
        text-decoration-color: gray;
        text-decoration-thickness: 1px;   
    }

    .assignment-link:hover, .pdf-link:hover i, 
    .edit-link:hover i, .feedback-text:hover, 
    .course-link:hover, .submission-link:hover i {
        color: #8d7eff;
    }
}

.asg-course {
    margin-top: 10px;
    font-size: 0.9rem;
}

.course-asg, .course-grade {
    margin-top: 0;
    font-size: 0.9rem;
}

/*Profile Section*/
.profile-section {
    width: 23%;
    color: white;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.pfp {
    margin-bottom: 5px;

    i {
        color: hsl(247, 100%, 75%);
        font-size: 80px;
    }

    a:hover {
        i {
        color: #8d7effbc;
        transform: scale(1.05);
        }
    }
}

.name {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.position {
    text-align: center;
    font-size: 0.9rem;
}

.line {
    color: black;
    width: 90%;
    margin-top: 15px;
}

.rem-header {
    margin-top: 24px; 
    font-size: 1rem; 
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.reminders {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.rem {
    display: flex;
    align-items: center;
    gap: 6px;
    border-left: 3px solid #8D7EFF;
}

.rem-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px; 
}

.rem-message {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: #8D7EFF;
}


.rem-details {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 0.8rem;
    color: white;
    justify-content: space-between; 
}

/*Timer*/
.submit-deadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    width: 230px;
}

.timer-image {
  display: flex;
  justify-content: center;
}

.timebar {
  text-align: center; 
  font-size: 1rem;
}

@media (max-width: 868px) {

    .courses-container, .asg-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: black;
        margin-bottom: 30px;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .course-item, .asg-item {
        width: 290px;
        height: 190px;
    }

    .profile-section {
        width: 350px;
    }
}