* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

#main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 1;
}

#main-section .h0 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #8D7EFF;
}

#main-section .h1 {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 15px;
}

#main-section .h2 {
    font-size: 4rem;
    margin-bottom: 80px;
    color: #8D7EFF;
    font-weight: 600;
}

#main-section .line {
    border: none;
    border-top: 1px solid #8d7eff54;
    width: 30%;
    margin: 0 auto 40px;
}

#login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.login-section {
    width: 450px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#login .login-header {
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-bottom: 30px;
    color: white;
}

#login form {
    width: 100%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login input {
    width: 100%;
    padding: 8px 10px; 
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #8d7eff54;
    background: none;
    color: white;
    font-size: 1rem;
}

#login input:focus {
    outline: none;
    border: 2px solid #8D7EFF; 
}

#login .type {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

#login button {
    width: 100%;
    padding: 10px;
    background-color: #8D7EFF; 
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem; 
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

#login button:hover {
    background-color: #6a57fd;
}

/* From Uiverse.io by cssbuttons-io */ 
.start {
    button {
        --color: #8D7EFF;
        font-family: inherit;
        display: inline-block;
        width: 8em;
        height: 2.6em;
        line-height: 2.5em;
        margin: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color 0.5s;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
        background-color: black;
    }

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    button:hover {
        color: #fff;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: all 0.7s;
    }

    button:hover:before {
        top: -30px;
        left: -30px;
    }

    button:active:before {
        background: #6a57fd;
        transition: background 0s;
    }
}