*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}
  
body {
  color: white;
  background: black;
}

/*Course Table*/
.asg-table {
  width: 100%;
  border-collapse: collapse;
}

/*Course Table header*/
.asg-table th {
  font-weight: 600;
  padding: 7px; 
  text-align: center; 
}

/*Course Table Entries*/
.asg-table td { 
  border: 1px solid rgba(221, 221, 221, 0.2); 
  border-left: none;
  border-right: none;
  padding: 7px; 
  text-align: center; 
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  a {
    display: inline-flex;
    list-style: none;
    list-style-type: none;
    color: white;
    text-decoration: none;
  }

  i {
    display: block;
    font-size: 24px;
    transition: color 0.3s ease;
    color: white;
  }

  .review-label {
    color: gray;
  }

  .assignment-link:hover {
    color: #8d7eff;
    text-decoration: underline;
  }

  .submission-link:hover {
    color: #8d7eff;
    text-decoration: underline;
    i {
      color: #8d7eff;
    }
  }

  .edit-link:hover{
    color: #8d7eff;
    text-decoration: underline;
    i {
      color: #8d7eff;
    }
  }

  .feedback-link:hover {
    color: #8d7eff;
    text-decoration: underline;
  }

  .status-indicator {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    margin: auto;
  }

  .status-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .status-todo {
    color: white;
    background-color: rgb(40, 68, 107, 0.4);

    .status-circle {
      background-color: #4454CC;
    }
  }        
    
  .status-missed {
    color: white;
    background-color: rgb(109, 53, 47, 0.4);
    .status-circle {
      background-color: #CC4844;
    }
  }
    
  .status-completed {
    color: white;
    background-color:rgb(42, 88, 63, 0.4);
    .status-circle {
      background-color: #66b046;
    }
  }
}

.container {  
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 20px;
  width: calc(100% - 140px);
  font-size: 1rem;
  overflow-x: auto;
  box-sizing: border-box;
}

/*Grading Text style*/
.grading-indicator.status-failed {
  color: #8D7EFF;
}

.grading-indicator.status-passed {
  color: #66b046;
}

/*Submit Button*/
#submit-button {
    background-color: #8D7EFF;
    color: black;
    border-radius: 8px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

#submit-button:hover {
    background-color: #8d7eff90
}
.button-container {
  margin-top: 20px;
  text-align: center;
}

.redirect-button {
  padding: 10px 20px;
  background-color: #8D7EFF;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.redirect-button:hover {
  background-color: #ff3232;
}


/*Screen based sizing*/
@media only screen and (max-width: 979px) {
  .container .asg-table td, th {
    font-size: 0.8rem;
    .status-label{
      font-size: 0.8rem;
    }
  }
}
  
@media only screen and (max-width: 767px) {
  .container .asg-table td, th {
    font-size: 0.8rem;
    .status-label{
      font-size: 0.8rem;
    }
  }
}
  
@media only screen and (max-width: 639px) {  
  .container .asg-table td, th {
    font-size: 0.8rem;
    .status-label{
      font-size: 0.8rem;
    }  
  }
}