* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    width: 100%; 
    max-width: 20000px; 
    height: 1000px;
    max-width: 600px;
    height: auto;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.login-section {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.login-header h2 {
    font-size: 1.2rem; 
    font-weight: 700; 
    margin-bottom: 30px;
    text-align: center;
    color: #8D7EFF;
}

.login-header p {
    font-size: 1.5rem; 
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 100%;
    padding: 15px 0; 
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #cccccc;
    background: none;
    color: white;
    font-size: 1rem;
}

form input::placeholder {
    color: #aaaaaa; 
}

form input:focus {
    outline: none;
    border-bottom: 2px solid #8D7EFF; 
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #8D7EFF; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem; 
    font-weight: 500;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(149, 136, 248);
}
