* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%; 
    max-width: 20000px; 
    height: 1000px; 
}

/* Welcome Section */
.welcome-section {
    flex: 1;
    background-color: #a463f2;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: left;
}

.welcome-section h1 {
    font-size: 4rem; 
    font-weight: 900; 
    margin-bottom: 10px;
}

.welcome-section h2 {
    font-size: 3.5rem; 
    font-weight: 400; 
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 1.5rem; 
    font-weight: 400;
    margin-top: 10px;
}

/* Login Section */
.login-section {
    flex: 1;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.login-header h2 {
    font-size: 2.5rem; 
    font-weight: 700; 
    margin-bottom: 10px;
}

.login-header p {
    font-size: 1.5rem; 
    font-weight: 400;
    margin-bottom: 30px;
}

form {
    width: 100%;
    max-width: 400px; 
}

form input {
    width: 100%;
    padding: 15px 0; 
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #cccccc;
    background: none;
    color: white;
    font-size: 1.2rem; 
}

form input::placeholder {
    color: #aaaaaa; 
}

form input:focus {
    outline: none;
    border-bottom: 2px solid #a463f2; 
}

form button {
    width: 100%;
    padding: 15px;
    background-color: #a463f2; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem; 
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #9445e1;
}
