*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
  }
    
  body {
    color: white;
    background: black;
  }
  
  /*Page Title*/
  .header {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 35px;
  }
  
  .divider {
    font-size: 1.3rem; 
    font-weight: 100;
    margin: 0 15px; 
    line-height: 1; 
    display: inline-block;
  }
  
  /*Sidebar*/
  .sidebar {
    z-index: 1;
    display: inline-block; 
    min-height: 200px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1%;
  }
  
  .sidebar ul {
    text-align: center;
    list-style-type: none;
  }
  
  .sidebar li {
    padding: 20px 0;
    margin: 20px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    
    a {
      list-style: none;
      list-style-type: none ;
      text-decoration: none;
    }
  
    i {
      display: block;
      font-size: 24px;
      transition: all ease 450ms;
      color: white;
    }
  
    .tooltip {
      display: inline-block;
      position: absolute;
      background-color:#26222e;
      padding: 2px 8px;
      border-radius: 3px;
      margin-top: -26px;
      left: 70px;
      opacity: 0;
      visibility: hidden;
      font-size: 13px;
      color: #8D7EFF;
      letter-spacing: 0.5px;
  
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        top: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: inherit;
      }
    }
  
    &:hover {
      background-color:#8D7EFF;
      border-radius: 20px;
  
      .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
          
    &.active {
      i {
        color: #26222e;
      }
    }
  }
  
  .title {
      margin-bottom: 20px;
      i {
          color: #8D7EFF;
          .profile-details {
              color: white;
          }
      }
  }
  .profile-details {
      margin-bottom: 20px;
  }
  
  .details {
      margin-left: 120px;
      margin-top: 40px;
      border: 2px solid #1e1e1e;
      border-radius: 20px;
      padding: 20px;
      box-sizing: border-box;
      flex-direction: column;
      margin-right: 40px;
  }
  
  .name {
      display: inline-flex;
      gap: 100px;
  }
  
  .first-name-entry, .last-name-entry, 
  .position-entry, .email-entry, .course-entry {
      background-color: black;
      padding: 6px 12px;
      border: 2px solid #1e1e1e;
      border-radius: 10px;
      margin-bottom: 20px;
      padding-right: 50px;
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.868);
  }
  
  .first-name-title, .last-name-title, .position-title,
  .email-title, .course-title {
      font-size: 0.9rem;
      margin-bottom: 2px;
      color: gray;
  }