*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

body {
  background-color: black;
  color: white;
}

/*Main content*/
.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-sizing: border-box;
  flex-direction: column;
}

/*Button styling */
.entry-button {
  background-color: #8D7EFF;
  color: white;
  padding: 15px 45px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0;
  display: inline-block;
}
  
.entry-button:hover {
  background-color: #8d7effbc;
  transform: scale(1.05);
}
  
.entry-button:focus {
  outline: none;
}
  
.entry-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/* Courses container styling */
.courses-container {
  display: none;
  flex-direction: column;
  gap: 15px;
}

/* Course button styling */
.course {
  background-color: #8D7EFF;
  color: white;
  padding: 15px 45px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 50px
}

.course:hover {
  background-color: #8d7effbc;
  transform: scale(1.05);
}

/*Table Styling*/
.table-section {
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 20px;
  width: calc(100% - 140px);
  font-size: 1rem;
  overflow-x: auto;
  box-sizing: border-box;
}
.groups-table {
  display: none;
  width: 100%;
  border-collapse: collapse;
}

.groups-table th {
  font-weight: 600;
  padding: 7px; 
  text-align: center;
}

.groups-table td {
  border: 1px solid rgba(221, 221, 221, 0.2); 
  border-left: none;
  border-right: none;
  padding: 7px; 
  text-align: center; 
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

/*join-button*/
.join-button {
  background-color: #8D7EFF;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0;
  display: inline-block;
}
  
.join-button:hover {
  background-color: #8d7effbc;
  transform: scale(0.95);
}

.join-button:disabled {
  background-color: gray;
  cursor: not-allowed; /* Show the 'not-allowed' cursor */
  opacity: 0.5; /* Make it visually appear disabled */
  pointer-events: none; /* Prevent clicks */
}

.exit-button {
  background-color: #8d7eff49;
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0;
  display: inline-block;
}